<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= display_flash_messages %>
    <%= link_to root_url(subdomain: nil) do %> 
      <strong>Reporting.Social</strong>
    <% end %> |

    <% if current_account %>
      <%= link_to root_url(subdomain: current_account.subdomain) do %>
        <strong><%= current_account.name %></strong>
      <% end %>|
    <% end %>
    <% if user_signed_in? %>
      Signed in as <%= current_user.email %>
      <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to "Sign in", new_user_session_path %>
    <% end %>

    <%= yield %>

  </body>
</html>
